:root {
    --main-color: #2196f3;
    --section-background: #ececec;
}

/* start default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

li a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 360px) {
    .container {
        width: 100%;
    }
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end default */

/* Start header */
header {
    background-color: #fff;
    padding: 5px 0;
    box-shadow: 0 0 10px rgb(219, 219, 219);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Start Main links */
header .container h1 {
    font-size: 25px;
    font-weight: bolder;
    color: var(--main-color);
}

header .container ul.main li.main {
    display: inline;
}

header .container ul.main li a.main {
    color: #000;
    margin-left: -5px;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 19px 30px;
    position: relative;
    transition: all .3s;
}

header .container ul.main li a.main::before {
    content: "";
    width: 0;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: -2px;
    left: 0;
    transition: .3s;
}

header .container ul.main li a.main:hover {
    color: var(--main-color);
    background-color: #f7f7f7;
}

header .container ul.main li a.main:hover::before {
    width: 100%;
}

header .container ul.main li.main:last-child:hover ul.sub {
    top: 68px;
    opacity: 1;
    z-index: 100;
}

@media (max-width: 370px) {
    header .container ul.main li a.main {
        font-size: .8rem;
        padding: 9.5px 10px;
    }
}


@media (max-width: 660px) {
    header .container {
        display: block;
        text-align: center;
    }

    header .container h1 {
        transform: translateY(-10px);
    }

    header .container ul.main {
        margin-top: 0px;    
        padding-bottom: 8px;
    }

    @media (min-width: 370px) {
        header .container ul.main li a.main {
            font-size: .8rem;
            padding: 9.5px 15px;
        }
    }

    header .container ul.main li a.main::before {
        top: auto;
        bottom: 0px;
        height: 2px;
    }
}
/* End Main links */

/* Start Sub-links */
header .container ul.sub {
    opacity: 0;
    top: 120px;
    display: grid;
    position: absolute;
    left: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 40px;
    background-color: #fff;
    padding: 30px 30px 40px;
    border-bottom: solid 3px var(--main-color);
    z-index: -100;
    transition: all .3s ease-out;
}

header .container ul.sub li {
    padding: 15px 0;
    background-color: transparent;
    z-index: 2;
    position: relative;
}

header .container ul.sub li:not(:last-child) {
    border-bottom: solid 1px #dbdbdb;
}

header .container ul.sub li a {
    color: var(--main-color);
    font-size: 1.1rem;
    padding: 15px;
    font-weight: bolder;
}

header .container ul.sub li::before {
    content: "";
    width: 0;
    height: 100%;
    background-color: #f7f7f7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: .3s ease-in-out;
}

header .container ul.sub li:hover::before {
    width: 100%;
}

header .container ul.sub li a i {
    margin-right: 20px;
}

@media (max-width: 660px) {
    header .container ul.sub {
        width: 100%;
        gap: 0px;
        grid-template-columns: 1fr;
        position: absolute;
        text-align: left;
        margin-top: 10px;
    }

    header .container ul.sub .column:not(:last-child) li {
        border-bottom: solid 1px #dbdbdb;
    }

    header .container ul.sub .column {
        margin: -7px;
    }

    header .container ul.sub .column:last-child {
        margin-bottom: -20px;
    }
    
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 992px) {
    header .container ul.sub img {
        display: none;
    }
    @media (min-width: 660px) {
        header .container ul.sub {
            width: 100%;
            gap: 15px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

/* Medium */
@media (max-width: 1200px) {
    header .container ul.sub img {
        width: 450px;
    }
    header .container ul.sub {
        gap: 15px;
    }
}
/* End Sub-links */
/* End header */

/* Start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--section-background);
    display: block;
    position: absolute;
    top: -40px;
    left: 0;
    transform: skewY(-6deg);
    z-index: -1;
    transform-origin: top left;
}

.landing .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 75px);
    padding-bottom: 120px;
    position: relative;
}


.landing .container .text h1 {
    font-size: 2.5rem;
    margin: 0 0 10px;
    font-weight: bolder;
    letter-spacing: -2px;
} 

.landing .container .text p {
    font-size: 1.4rem;
    color: #666;
    line-height: 35px;
}

.landing img {
    width: 50%;
    animation: up-down 5s linear infinite;
}

.landing .container i {
    position: absolute;
    bottom: 30px;
    font-size: 1.5rem;
    animation: bouncing 1.5s infinite;
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
}

@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes up-down {
    0%,100% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(0px);
    }
}

@media (max-width: 992px) {
    .landing .container .text h1 {
        font-size: 2rem;
    } 
    
    .landing .container .text p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .landing .container {
        justify-content: center;
    }
    .landing .container img {
        display: none;
    }
    .landing .container .text {
        max-width: 400px;
        text-align: center;
    }

}

@media (max-width: 470px) {
    .landing .container .text {
        max-width: 300px;
    }

    .landing .container .text h1 {
        font-size: 1.8rem;
    } 
    
    .landing .container .text p {
        font-size: .9rem;
        line-height: 1.6;
    }
}
/* End landing */

/* Start Sections Titles */
.section {
    padding: 150px 0px 40px;
}
.section .container {
    position: relative;
    padding-top: 120px;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    padding: 32px 0;
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-title h1 {
    padding: .7rem 1.5rem;
    width: fit-content;
    position: relative;
    border: solid 2px;
    transition: .3s all;
}

.section-title h1:hover {
    color: #fff;
    border: solid 2px transparent;
    transition-delay: .5s;
}

.section-title h1::after,
.section-title h1::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 13px;
    height: 13px;
    z-index: -1;
    background-color: var(--main-color);
    border-radius: 100%;
}

.section-title h1::after {
    left: -40px;
    animation: from-left-rev .5s linear forwards;
}

.section-title h1::before {
    right: -40px;
    animation: from-right-rev .5s linear forwards;
}

.section-title h1:hover::after {
    animation: from-left .5s linear forwards;
}

.section-title h1:hover::before {
    animation: from-right .5s linear forwards;
}

@media (max-width: 400px) {
    .section-title {
        font-size: .7rem;
        font-weight: bolder;
    }
    .section-title h1::after {
        left: -15px;
    }
    .section-title h1::before {
        right: -15px;
    }
    @keyframes from-right-rev {
        100% {        
            right: -15px;
            width: 13px;
            height: 13px;
            border-radius: 100%; 
        }
    
        50%{
            right: 0px;
            width: 13px;
            height: 13px;   
        }
    
        0% {
            right: 0px;
            width: 50%;
            height: 100%;
            border-radius: 0;  
        }
    }
    @keyframes from-left-rev {
    
        100% {        
            left: -15px;
            width: 13px;
            height: 13px;
            border-radius: 100%; 
        }
    
        50%{
            left: 0px;
            width: 13px;
            height: 13px;   
        }
    
        0% {
            left: 0px;
            width: 50%;
            height: 100%;
            border-radius: 0;  
        }
        
    }
    

}

@keyframes from-right {

    50% {        
        right: 0px;
        width: 13px;
        height: 13px;
    }

    100%{
        right: 0px;
        width: 51%;
        height: 100%;
        border-radius: 0;    
    }
    
}

@keyframes from-right-rev {

    100% {        
        right: -40px;
        width: 13px;
        height: 13px;
        border-radius: 100%; 
    }

    50%{
        right: 0px;
        width: 13px;
        height: 13px;   
    }

    0% {
        right: 0px;
        width: 50%;
        height: 100%;
        border-radius: 0;  
    }
    
}

@keyframes from-left-rev {

    100% {        
        left: -40px;
        width: 13px;
        height: 13px;
        border-radius: 100%; 
    }

    50%{
        left: 0px;
        width: 13px;
        height: 13px;   
    }

    0% {
        left: 0px;
        width: 50%;
        height: 100%;
        border-radius: 0;  
    }
    
}

@keyframes from-left {

    50% {        
        left: 0px;
        width: 13px;
        height: 13px;
    }

    100%{
        left: 0px;
        width: 51%;
        height: 100%;
        border-radius: 0;    
    }
    
}

/* End Sections Titles */

/* Start articles */
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 40px;
    
}

.articles .container .box {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(219, 219, 219);
    transition: .3s;
}

.articles .container .box img {
    width: 100%;
}

.articles .container .box .text {
    padding: 20px 20px 25px;
    border-bottom: solid 1px #66666633;
}

.articles .container .box .text h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;   
}

.articles .container .box .text p {
    font-size: 1rem;
    color: #777;
    line-height: 1.5;
}

.articles .container .box .more a {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--main-color);
    font-weight: bolder;
    transition: .3s;
}

.articles .container .box:hover {
    box-shadow: 0 0 10px rgb(196, 195, 195);
    transform: translateY(-15px);
}

.articles .container .box .more a:hover i {
    animation: bouncingX 1.5s infinite;
}

.articles .container .box .more a:hover {
    background-color: #f7f7f7;
}

@keyframes bouncingX {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }
    40%,
    60% {
        transform: translateX(-10px);
    }
}
/* End articles */

/* Start gallery */
.gallery {
    background-color: var(--section-background);
    padding-top: 130px;
    padding-bottom: 100px;
    margin-top: 100px;
}

.features .container,
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px ,1fr));
    grid-gap: 40px;
}

.gallery .container .box {
    border: solid 15px #fff;
    box-shadow: 0 0 10px rgb(174, 174, 174);
    overflow: hidden;
    display: flex;
    position: relative;
}

.features .container img,
.gallery .container img {
    width: 100%;
    transition: .3s;
}

.gallery .container .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallery .container .box:hover img {
    transform: scale(1.1);
    rotate: 6deg;
}

.gallery .container .box:hover::before {
    animation: flashing .5s forwards;
}

@keyframes flashing {
    0%,
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End gallery */

/* Start feature */
.features {
    padding-top: 130px;
    padding-bottom: 100px;
}

.features .container .column {
    text-align: center;
    border: solid 1px #d6d6d6;
}

.features .container .img {
    position: relative;
    overflow: hidden;
    display: flex;
}

.features .container .img::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.features .container .column h2::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    height: 5px;
}

.features .container .text {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features .container .text h2 {
    font-size: 2.5rem;
    padding-bottom: 20px;
    margin-bottom: 30px;
    width: fit-content;
    position: relative;
}

.features .container .text p {
    font-size: 1.277rem;
    color: #666;
    line-height: 2;
    margin-bottom: 55px;
}

.features .container .column button {
    margin-bottom: 45px;
    font-size: 1.4rem;
    font-weight: bolder;
    padding: 10px 30px;
    border: solid 3px;
    border-radius: 6px;
    position: relative;
    background-color: transparent;
}

.features .container .column button a {
    text-decoration: none;
    transition: .3s;
}

.features .container .column button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1%;
    transform: translate(0 , -50%);
    width: 0;
    height: 103%;
    z-index: -1;
    transition: .3s;
}

.features .container .column:hover button::before {
    width: 102%;
}
.features .container .column:hover button a {
    color: #fff;
}

.features .container .one .img::before  {
    background-color: rgb(244 64 54 / 60%);
}
.features .container .one button::before,
.features .container .one h2::before {
    background-color: rgb(244 64 54);
}
.features .container .one button,
.features .container .one button a {
    color: rgb(244 64 54);
}

.features .container .two .img::before  {
    background-color: rgb(0 150 136 / 60%);
}
.features .container .two button::before,
.features .container .two h2::before {
    background-color: rgb(0 150 136);
}
.features .container .two button,
.features .container .two button a {
    color: rgb(0 150 136);
}

.features .container .three .img::before  {
    background-color: rgb(3 169 244 / 60%);
}
.features .container .three button::before,
.features .container .three h2::before {
    background-color: rgb(3 169 244);
}
.features .container .three button,
.features .container .three button a {
    color: rgb(3 169 244);
}

.features .container .column .img::after {
    content: "";
    position: absolute;
    border: solid;
    border-width: 0 0 170px 500px;
    left: -100px;
    bottom: -10px;
    border-color: transparent transparent #fff transparent;
    transition: .3s;
}

.features .container .column:hover .img::after{
    left: -170px;
    border-width: 0 600px 170px 20px;
}

@media (max-width: 670px) {
    @media (min-width: 512px) {
        .features .container .column .img::after {
            border-width: 0 0 170px 700px;
        }
        .features .container .column:hover .img::after {
            border-width: 0 700px 170px 20px;
        }
    }
}
/* End feature */

/* Start Testimonials */
.testimonials {
    background-color: var(--section-background);
    padding: 120px 0 100px;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
    gap: 40px;
}

.testimonials .container .box {
    position: relative;
    margin: auto;
    padding: 25px 20px;
    background-color: #fff;
    border-radius: 5px;
}

.testimonials .container .box img {
    width: 105px;
    position: absolute;
    top: -48%;
    right: -4%;
    transform: translateY(50%);
    border-radius: 100%;
    border: solid 10px var(--section-background);
}

@media (max-width: 330px) {
    .testimonials .container .box {
        max-width: 95%;
        margin: auto;
    }
    .testimonials .container .box img {
        top: -45%;
        right: -1%;
    }
}

.testimonials .container .box .fa-solid {
    color: #ffc107;
}

.testimonials .container .box .text .stars {
    margin: 10px 0;

}

.testimonials .container .box .text h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.testimonials .container .box .text p {
    color: #777;
    line-height: 1.5;
}
/* End Testimonials */

/* Start Team member */
.team-Members {
    padding-top: 130px;
}

.team-Members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px ,1fr));
    gap: 40px;
}

.team-Members .container .box {
    position: relative;
    padding-top: 60px;
    max-width: 580px;
}

.team-Members .container .box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 88%;
    height: 100%;
    border-radius: 10px;
    background-color: #f3f3f3;
    z-index: -2;
}
.team-Members .container .box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: #e8e8e8;
    z-index: -1;
    transition: .3s;
}

.team-Members .container .box:hover::before {
    width: 88%;
}

.team-Members .container .box:hover h2 {
    color: #777;
}

.team-Members .container .box img {
    width: 100%;
    border-radius: 10px;
    transition: .3s;
}
.team-Members .container .box:hover img {
    filter: grayscale(100%);
}

.team-Members .container .box .head {
    display: flex;
}

.team-Members .container .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.team-Members .container .icons a {
    font-size: 1rem;
    margin: 15px;
    color: #777;
    text-align: center;
    transition: .3s;
}

.team-Members .container .icons a:hover{
    color: var(--main-color);
}

.team-Members .container .text {
    padding: 18px 0 25px 18%;
}

.team-Members .container .text h2 {
    font-size: 1.4rem;
    color: var(--main-color);
    transition: .3s;
}

.team-Members .container .text p {
    margin-top: 5px;
    color: #111;
}
/* End Team member */